/* Experiência Acadêmica*/

section.academic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--cor-azul-claro);
}

.academic__title {}

.academic__courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 20px;

}

.academic__courses__box {}

.academic__courses__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.academic__courses__item__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  border-radius: 4px;

  width: 296px;
  height: 118px;

  /* Preto/branco */

  background: var(--cor-branco);
}

.academic__courses__item__img img {
  width: 60px;
  height: 60px;
  padding-bottom: 30px;
}

.academic__courses__item__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.academic__courses__item__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
  
}