/*Sessão Menu*/


section.menu {
  display: flex;
  flex-direction: row;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}


.menu__title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--cor-de-texto);
}

.menu__list {
  display: none;
}

@media screen and (min-width: 768px) {
  section.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .menu__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  .menu__list__item__contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Preto/100% */

    color: #464646;
  }

  .menu__list {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Preto/100% */


  }

  .menu__list__item__contato {
    display: none;
  }
}