/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #30363d;;
  --cor-de-link: #1f6feb;
  --cor-de-texto: #c9d1d9;
  --cor-azul-claro: #0d1117;
  --cor-branco: #FFFFFF;
  --cor-azul-medio: #2A7AE4;
  --cor-azul-hover: #5595E9;
  --cor-branco-gelo: #c8c8c8;
  --cor-branco-gelo-medio: #A2A2A2;
}

.light:root {
  --cor-de-fundo: #FFFFFF;
  --cor-de-link: #1f6feb;
  --cor-de-texto: #0d1117;
  --cor-azul-claro: #c9d1d9;
  --cor-branco: #30363d;
  --cor-azul-medio: #2A7AE4;
  --cor-azul-hover: #5595E9;
  --cor-branco-gelo: #c8c8c8;
  --cor-branco-gelo-medio: #A2A2A2;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-de-link);
}

.checkbox {
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1px;
  position: relative;
  height: 26px;
  width: 47px;
  transform: scale(1.5);

}


.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}




/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/
