.formcontato__botao {
    background-color: var(--cor-azul-medio);
    border: 1px var(--cor-azul-medio) solid;
    color: var(--cor-branco);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
}

.formcontato__botao:hover {
    cursor: pointer;
    background-color: var(--cor-azul-hover);
    border-color: var(--cor-azul-hover);
}